<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %d %-5level [%thread] %logger{0}: %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="warn">
        <appender-ref ref="Console"/>
    </root>
    <logger name="net.jqwik" level="info">
        <appender-ref ref="Console"/>
    </logger>
    <logger name="org.springframework" level="warn">
        <appender-ref ref="Console"/>
    </logger>
</configuration>